{% extends "base_for_about.html" %}

{% block content %}

<div style="text-align: center; margin-top: 5%;">
    <h2>Наши местоположения</h2>
    <p>На карте вы можете найти наши магазины</p>
</div>
<div style="text-align: center; margin-bottom: 5%;">
    <div class="map" style="padding: auto auto;">
        <center><script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac0356c28a8648c8796c0bb40de98a8fba18e3a49123ec49020ebdf4537321ae0&amp;width=1000&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script></center>
    </div>
</div>
{% endblock %}